* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --scale: 2;
    --color-background-element: rgb(45, 45, 45);
    --color-background-leftBox: linear-gradient(to top, #052f99, #838ccc);
    --color-background-element-clicked: rgb(102, 102, 102);
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
}

.left_box {
    height: 100vh;
    width: 25%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 0 8px 0 8px;

    background: var(--color-background-leftBox);
    color: white;
}

.account_box {
    width: 100%;
    height: 12%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-radius: 15px;
    margin: 8px;

    background-color: var(--color-background-element);
    cursor: pointer;
    transition: 0.3s;
}

.account_box:hover {
    background-color: var(--color-background-element-clicked);
}

.account_box div:nth-child(1) {
    width: auto;
    height: 80%;
    aspect-ratio: 1 / 1;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 12px;
}

.account_box div:nth-child(1) img {
    width: auto;
    height: 80%;
    aspect-ratio: 1 / 1;
}

.account_box div:nth-child(2) {
    flex-grow: 1;
}

#username {
    margin: 8px;

    font-weight: 700;
    font-size: calc(80% * var(--scale));
}

#account_box-infor {
    margin: 8px;

    font-weight: 300;
    font-size: calc(40% * var(--scale));

    width: calc(30% * var(--scale));

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#account_box-infor span {
    height: 23px;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#account_box-infor span::after {
    content: "";
    position: absolute;
    width: 3px;
    height: 3px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.library_box {
    width: 100%;
    flex-grow: 1;

    border-radius: 15px;
    background-color: var(--color-background-element);

    margin-bottom: 8px;
    padding: 12px;

    height: 88%;
    overflow: hidden;
}

.library_box-header {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-bottom: 12px;
}

#library_box-header-title {
    color: rgba(255, 255, 255, 0.608);
    font-weight: 600;
    font-size: calc(100% * var(--scale));

    width: fit-content;
    margin: 8px;
    transition: 0.3s;
}

#library_box-header-title:hover {
    color: white;
    cursor: pointer;
}

.library_box-header-wrapper {
    position: relative;

    display: flex;
    align-items: center;
}

.library_box-header-cover {
    position: relative;

    left: 0;
    width: 100%;
    overflow: auto;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 1;
}

.library_box-header-cover::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    z-index: 2;
    height: 100%;
    width: 40px;
    background: linear-gradient(to right, var(--color-background-element), transparent);
}

.library_box-header-cover::after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    z-index: 2;
    height: 100%;
    width: 40px;
    background: linear-gradient(to left, var(--color-background-element), transparent);
}


.library_box-header-cover-scroll {
    width: 100%;
    height: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    overflow: auto;
    position: relative;
    scroll-behavior: smooth;
    z-index: 1;
}

.library_box-header-cover-scroll::-webkit-scrollbar {
    -webkit-appearance: none;
    height: 0px;
}

.library_box-header-child {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 80px;

    border-radius: 20px;
    background-color: rgb(102, 102, 102);
    cursor: pointer;
    padding: 5px 10px 5px 10px;

    margin: 0 14px 0 14px;
}

.library_box-header-child p {
    font-size: calc(45% * var(--scale));
}

.library_box-header-child:hover {
    background-color: rgb(126, 126, 126);
}

.library_box-header-icon {
    position: relative;

    background-color: black;
    font-size: 20px;
    outline: none;
    border: none;
    padding: 0px 20px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: auto;
    aspect-ratio: 1/1;

    border-radius: 50%;

    z-index: 99;
}

.library_box-header-icon:active {
    transform: scale(1.1);

    z-index: 99;
}

.library_list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    height: 67vh;
    overflow-y: auto;
}

.library_list::-webkit-scrollbar {
    width: 1vw;
}

.library_list::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.388);
}

.library_list::-webkit-scrollbar-thumb {
    background: #4b4f57;
}

.library_list::-webkit-scrollbar-thumb:hover {
    background: #414244;
    cursor: pointer;
}

.library_list-bar {
    position: relative;

    width: 100%;

    display: flex;
    align-items: center;
}

.library_list-bar span {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 35px;
    height: auto;
    aspect-ratio: 1/1;

    border-radius: 50%;
    background-color: transparent;

    cursor: pointer;
}

.library_list-bar span:hover {
    background-color: rgb(102, 102, 102);
}

#library_list-playlistCard,
.library_list-bar {
    margin: 8px 0 8px 0;
}

#library_list-playlistCard {
    width: 100%;
    padding: 8px;
    border-radius: 15px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

#library_list-playlistCard:hover {
    background-color: rgb(71, 69, 69);
}

#card-image {
    height: 60px;
    width: auto;
    aspect-ratio: 1/1;
}

#card-image img {
    height: 100%;
    width: 100%;
}

#card-infor {
    flex-grow: 1;
    padding-left: 14px;
}

#card-infor p {
    margin: 4px;
}

#card-infor-title {
    font-size: calc(8px *var(--scale));
    font-weight: 550;
}

.card-infor-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.card-infor-text p {
    font-size: calc(6.5px *var(--scale));
    color: rgba(255, 255, 255, 0.533);
}

.card-infor-text span {
    height: 23px;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card-infor-text span::after {
    content: "";
    position: absolute;
    width: 3px;
    height: 3px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*MID BOX*/
.mid_box {
    flex-grow: 1;

    border: 2px solid blue;
    height: 100vh;
    width: 30vw;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.mid_box_main {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--color-background-element);
    border-radius: 15px;

    padding: 12px;
    display: block;
}

.mid_box_main.hide {
    display: none;
}

.mid_box_main_heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main_heading-cover-button {
    background-color: black;
    font-size: 20px;
    outline: none;
    border: none;
    padding: 0px 20px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: auto;
    aspect-ratio: 1/1;
    transition: 0.3s;

    border-radius: 50%;
}

.main_heading-cover-button:hover {
    background-color: var(--color-background-element-clicked);
}

.mid_box_main_body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.mid_box_main_p1 {
    position: relative;
    width: 100%;
    height: 200px;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    margin: 24px 0;

    border-radius: 15px;
}

.mid_box_main_p1-button-wrapper {
    position: absolute;

    width: 100%;
    height: 100%;

    top: 0;
    left: 0;
    z-index: 2;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mid_box_main_p1-button {
    height: 100%;
    width: 10%;
    outline: none;
    border: none;
    font-size: 30px;

    cursor: pointer;
}

#mid_box_main_p1-button-right{
    background: linear-gradient(to left, black, transparent);
}

#mid_box_main_p1-button-left{
    background: linear-gradient(to right, black, transparent);
}

.mid_box_main_p1_scroll {
    position: absolute;

    width: 100%;
    height: 100%;

    top: 0;
    left: 0;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;

    display: flex;
    align-items: center;

    z-index: 1;
}

.mid_box_main_p1_scroll::-webkit-scrollbar {
    appearance: none;
    height: 0;
    width: 0;
}

.mid_box_main_p1-card {
    position: relative;
    width: 100%;
    height: 100%;
    display: inline-block;
    flex: none;
    margin-right: 10px;
    overflow: hidden;
    border-radius: 15px;
}

.mid_box_main_p1-card img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mid_box_main_p2{   
    width: 100%;

    height: 200px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}   

.mid_box_main_p2_heading{
    width: 100%;
    height: 20%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;

    padding: 0 12px;
}   
.mid_box_main_p2_heading p{
    font-size: calc(15px*var(--scale));
    font-weight: 550;
}

.mid_box_main_p2_features{
    width: 100%;
    height: 80%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 12px;
}

.mid_box_main_p2_features-card{
    position: relative;

    height: 100%;
    width: 22%;
    margin-top: 24px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 15px;

    z-index: 1;
    overflow: hidden;

    cursor: pointer;
    transition: 0.2s;
}

.mid_box_main_p2_features-card:hover .mid_box_main_p2-imgAlbums{
    filter: brightness(65%);
}

.mid_box_main_p2-imgAlbums::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5%;
    background-color: rgba(0, 149, 255, 0.499);
}

.mid_box_main_p2-imgAlbums{
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;

    background-image: url(../Image/album\ image.jpg);

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.mid_box_main_p2-inforAlbums{
    position: absolute;

    bottom: -100px;
    left: 0;
    width: 100%;
    height: 40%;
    color: white;
    transition: transform 0.5s ease-in-out;

    padding: 8px;
    text-overflow: ellipsis;
}

.mid_box_main_p2-inforAlbums p{
    margin: 4px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.mid_box_main_p2-inforAlbums p:nth-child(1){
    font-size: calc(8px * var(--scale));
    font-weight: 550;
}

.mid_box_main_p2-inforAlbums p:nth-child(2){
    color: rgb(151, 151, 151);
}


.mid_box_main_p2_features-card:hover .mid_box_main_p2-inforAlbums{
    transform: translateY(-110px);
}

.mid_box_searching {
    width: 100%;
    height: 100%;

    border: 2px solid red;

    flex-direction: column;
    align-items: center;

    display: none;
}

.mid_box_searching.show {
    display: block;
}

.main_heading_searching {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-background-element);

    border-radius: 18px;
    padding: 8px;
}

.main_heading_searching img {
    height: 20px;
}

.main_heading_searching-cover-button {
    background-color: black;
    font-size: 20px;
    outline: none;
    border: none;
    padding: 0px 20px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: auto;
    aspect-ratio: 1/1;

    border-radius: 50%;
}

.main_heading button i {
    color: white;
}

.main_heading-searchBar {
    position: relative;
    width: 50%;
    height: 30px;

    border: 2px solid red;
}

.main_heading-searchBar i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 8px;
}

.main_heading-searchBar input {
    outline: none;
    border: none;

    padding-left: 35px;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

@media (max-width: 700px) {
    .left_box {
        width: 20%;
    }

    .mid_box {
        width: 80%;
    }

    .right_box {
        width: -10px;
    }
}



.right_box {
    flex-grow: 1;

    border: 2px solid black;
    height: 100vh;
}