* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

:root {
    --scale: 2;
    --color-background-element: rgb(45, 45, 45);
    --color-background-leftBox: linear-gradient(to top, var(--color-primary-2), var(--color-primary-1));
    --color-background-element-clicked: rgb(87, 87, 87);

    --color-primary-1: #838ccc;
    --color-primary-2: #052f99;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    
    background: var(--color-background-leftBox);
}

.left_box {
    height: 100vh;
    width: 23%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 8px;
}   

.account_box {
    width: 100%;
    height: 12%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-radius: 15px;
    margin-bottom: 8px;

    background-color: var(--color-background-element);
    cursor: pointer;
    transition: 0.3s ease-in-out;

    overflow: hidden;
    padding-left: 12px;
}

.account_box p{
    white-space: nowrap; 
    overflow: hidden;    
    text-overflow: ellipsis; 
}

.account_box:hover {
    background-color: var(--color-background-element-clicked);
}

.account_box div:nth-child(1) {
    width: auto;
    height: 80%;
    aspect-ratio: 1 / 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

.account_box div:nth-child(1) img {
    width: auto;
    height: 80%;
    aspect-ratio: 1 / 1;
}

.account_box div:nth-child(2) {
    flex-grow: 1;
}

#username {
    margin: 8px;

    font-weight: 700;
    font-size: calc(80% * var(--scale));
}

#account_box-infor {
    margin: 8px;

    font-weight: 300;
    font-size: calc(40% * var(--scale));

    width: calc(30% * var(--scale));

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#account_box-infor span {
    height: 23px;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#account_box-infor span::after {
    content: "";
    position: absolute;
    width: 3px;
    height: 3px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.library_box {
    width: 100%;
    flex-grow: 1;

    border-radius: 15px;
    background-color: var(--color-background-element);

    padding: 12px;

    height: 90%;
    overflow: hidden;
}

.library_box-header {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-bottom: 12px;
}

#library_box-header-title {
    font-weight: 600;
    font-size: calc(100% * var(--scale));

    width: 100%;
    margin: 8px 0;
    transition: 0.3s;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#library_box-header-title i{
    font-size: calc(40% * var(--scale));
}

#library_box-header-title i, #library_box-header-title p{
    cursor: pointer;
    color: rgba(255, 255, 255, 0.541);
}

#library_box-header-title i:hover,
#library_box-header-title p:hover {
    color: white;
}

.library_box-header-wrapper {
    position: relative;

    display: flex;
    align-items: center;
}

.library_box-header-cover {
    position: relative;

    left: 0;
    width: 100%;
    overflow: auto;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 1;
}

.library_box-header-cover::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    z-index: 2;
    height: 100%;
    width: 40px;
    background: linear-gradient(to right, var(--color-background-element), transparent);
}

.library_box-header-cover::after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    z-index: 2;
    height: 100%;
    width: 40px;
    background: linear-gradient(to left, var(--color-background-element), transparent);
}


.library_box-header-cover-scroll {
    width: 100%;
    height: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    overflow: auto;
    position: relative;
    scroll-behavior: smooth;
    z-index: 1;
}

.library_box-header-cover-scroll::-webkit-scrollbar {
    -webkit-appearance: none;
    height: 0px;
}

.library_box-header-child {
    display: flex;
    justify-content: center;
    align-items: center;

    width: fit-content;

    border-radius: 20px;
    background-color: var(--color-background-element-clicked);
    cursor: pointer;
    padding: 5px 10px 5px 10px;

    margin: 0 14px 0 14px;
}

.library_box-header-child p {
    font-size: calc(45% * var(--scale));
    white-space: nowrap;
}

.library_box-header-child:hover {
    background-color: rgb(126, 126, 126);
}

.library_box-header-icon {
    position: relative;

    background-color: black;
    font-size: 20px;
    outline: none;
    border: none;
    padding: 0px 20px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: auto;
    aspect-ratio: 1/1;

    border-radius: 50%;

    z-index: 99;
}

.library_box-header-icon:active {
    transform: scale(1.1);

    z-index: 99;
}

.library_list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    height: 67vh;
    overflow-y: auto;
}

.library_list::-webkit-scrollbar {
    width: 1vw;
}

.library_list::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.388);
}

.library_list::-webkit-scrollbar-thumb {
    background: #4b4f57;
}

.library_list::-webkit-scrollbar-thumb:hover {
    background: #414244;
    cursor: pointer;
}

.library_list-bar {
    position: relative;

    width: 100%;

    display: flex;
    align-items: center;
}

.library_list-bar span {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 35px;
    height: auto;
    aspect-ratio: 1/1;

    border-radius: 50%;
    background-color: transparent;

    cursor: pointer;
}

.library_list-bar span:hover {
    background-color: rgb(102, 102, 102);
}

#library_list-playlistCard,
.library_list-bar {
    margin: 8px 0 8px 0;
}

#library_list-playlistCard {
    width: 100%;
    padding: 8px;
    border-radius: 15px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

#library_list-playlistCard:hover {
    background-color: rgb(71, 69, 69);
}

#card-image {
    height: 50px;
    width: auto;
    aspect-ratio: 1/1;
}

#card-image img {
    height: 100%;
    width: 100%;
}

#card-infor {
    flex-grow: 1;
    padding-left: 14px;
}

#card-infor p {
    margin: 4px;
}

#card-infor-title {
    font-size: calc(8px *var(--scale));
    font-weight: 550;
}

.card-infor-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.card-infor-text p {
    font-size: calc(6.5px *var(--scale));
    color: rgba(255, 255, 255, 0.533);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.card-infor-text span {
    height: 23px;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card-infor-text span::after {
    content: "";
    position: absolute;
    width: 3px;
    height: 3px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*MID BOX*/
.mid_box {
    flex-grow: 1;
    height: 100vh;
    width: 40vw;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 8px 0 8px 0;
}

.mid_box_main {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--color-background-element);
    border-radius: 15px;

    padding: 12px;
    display: block;
    overflow: hidden;
}

.mid_box_main.hide {
    display: none;
}

.mid_box_main_heading {
    height: 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main_heading-cover-button {
    background-color: black;
    font-size: 20px;
    outline: none;
    border: none;
    padding: 0px 20px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: auto;
    aspect-ratio: 1/1;
    transition: 0.3s;

    border-radius: 50%;
}

.main_heading-cover-button:hover {
    background-color: var(--color-background-element-clicked);
}

.mid_box_main_body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;    
    height: 90vh;
    overflow-y: auto; 
    padding: 10px;
    box-sizing: border-box;
}

.mid_box_main_body::-webkit-scrollbar {
    width: 1vw;
}

.mid_box_main_body::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.388);
}

.mid_box_main_body::-webkit-scrollbar-thumb {
    background: #4b4f57;
}

.mid_box_main_body::-webkit-scrollbar-thumb:hover {
    background: #414244;
    cursor: pointer;
}

.mid_box_main_p1 {
    position: relative;
    width: 100%;
    min-height: 200px;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    margin: 24px 0;

    border-radius: 15px;
    cursor: pointer;
}

.mid_box_main_p1-button-wrapper {
    position: absolute;

    width: 100%;
    height: 100%;

    top: 0;
    left: 0;
    z-index: 2;

    display: flex;
    justify-content: space-between;
    align-items: center;        

    opacity: 0;
    visibility: hidden; 
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}

.mid_box_main_p1-button {
    height: auto;
    width: 7%;
    aspect-ratio: 1/1;
    outline: none;
    border: none;
    font-size: 30px;
    border-radius: 50%;

    margin: 12px;

    cursor: pointer;
    background: rgba(0, 0, 0, 0.401);
    transition: 0.3s ease-in-out;
}

.mid_box_main_p1-button:hover{
    transform: scale(1.1);
    background: rgba(0, 0, 0, 0.996);
}

.mid_box_main_p1:hover .mid_box_main_p1-button-wrapper{
    opacity: 1;
    visibility: visible;    
}

.mid_box_main_p1_scroll {
    position: absolute;

    width: 100%;
    height: 100%;

    top: 0;
    left: 0;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;

    display: flex;
    align-items: center;

    z-index: 1;
}

.mid_box_main_p1_scroll::-webkit-scrollbar {
    appearance: none;
    height: 0;
    width: 0;
}

.mid_box_main_p1-card {
    position: relative;
    width: 100%;
    height: 100%;
    display: inline-block;
    flex: none;
    margin-right: 10px;
    overflow: hidden;
    border-radius: 15px;
}

.mid_box_main_p1-card img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mid_box_main_p2{   
    width: 100%;

    height: fit-content;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 24px 0 24px 0;   
}   

.mid_box_main_p2_heading{
    width: 100%;
    height: 20%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;

    padding: 0 12px;
}   
.mid_box_main_p2_heading p{
    font-size: calc(12px*var(--scale));
    font-weight: 550;
}

.mid_box_main_p2_features{

    width: 100%;
    height: fit-content;

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 12px;
}

.mid_box_main_p2-card{
    width: 20%;

    padding: 8px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;

    cursor: pointer;
}

.mid_box_main_p2-card:hover{
    background-color: rgba(255, 255, 255, 0.108);
}

.mid_box_main_p2_features-card{
    position: relative;

    width: 100%;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 15px;

    z-index: 1;
    overflow: hidden;
    transition: 0.2s;
}

.mid_box_main_p2-imgAlbums::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5%;
    background-color: rgba(0, 149, 255, 0.499);
}

.mid_box_main_p2-imgAlbums{
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;

    background-image: url(../Image/album\ image.jpg);

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.mid_box_main_p2-play {
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: fit-content;

    opacity: 0;
    visibility: hidden; 
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
    padding: 8px;

    font-size: calc(10px * var(--scale));
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
}

.mid_box_main_p2-play div{
    border-radius: 50%;
    background-color: rgb(78, 78, 225);

    width:  calc(20px*var(--scale));
    height: auto;
    aspect-ratio: 1/1;

    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.573);
}

.mid_box_main_p2-play div:hover{
    background-color: rgb(102, 102, 231);
    transform: scale(1.1);
}

.mid_box_main_p2-card:hover .mid_box_main_p2-play {
    transform: translateY(-20px); 
    opacity: 1;
    visibility: visible; 
}

.mid_box_main_p2-inforAlbums{
    margin-top: 12px;
    width: 100%;
}

.mid_box_main_p2-inforAlbums p{
    margin: 0 4px ;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: white;
}

.mid_box_main_p2-inforAlbums p:nth-child(1){
    font-size: calc(8px * var(--scale));
    font-weight: 550;
}

.mid_box_main_p2-inforAlbums p:nth-child(2){
    color: rgb(151, 151, 151);
}

/*mid_box_main_p3-card*/
.mid_box_main_p3-card{
    width: 25%;

    padding: 8px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;

    cursor: pointer;
}

.mid_box_main_p3-card:hover{
    background-color: rgba(255, 255, 255, 0.108);
}

.mid_box_main_p3-card:hover .mid_box_main_p2-play {
    transform: translateY(-26px); 
    opacity: 1;
    visibility: visible; 
}

.mid_box_main_p3_features-card{
    position: relative;

    width: 100%;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 15px;

    z-index: 1;
    overflow: hidden;
    transition: 0.2s;
}

.mid_box_main_p3-imgAlbums{
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    border-radius: 50%;
 
    background-image: url(../Image/Artists/billie\ eilish.webp);

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.mid_box_main_p3-inforAlbums{
    margin-top: 12px;
    width: 100%;

    display: flex;
    flex-direction: column;
    text-align: center;
}

.mid_box_main_p3-inforAlbums p{
    margin: 0 4px ;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: white;
}

.mid_box_main_p3-inforAlbums p:nth-child(1){
    font-size: calc(8px * var(--scale));
    font-weight: 550;
}

.mid_box_main_p3-inforAlbums p:nth-child(2){
    color: rgb(151, 151, 151);
}


.mid_box_searching {
    width: 100%;
    height: 100%;

    background-color: var(--color-background-element);

    border-radius: 15px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    overflow-y: auto; 
    padding: 10px;
    box-sizing: border-box;

    display: none;
}

.mid_box_searching.show {
    display: block;
}

.main_heading_searching {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-background-element);

    border-radius: 18px;
    padding: 8px;
}

.main_heading_searching img {
    height: 20px;
}

.main_heading_searching-cover-button {
    background-color: black;
    font-size: 20px;
    outline: none;
    border: none;
    padding: 0px 20px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: auto;
    aspect-ratio: 1/1;

    border-radius: 50%;
}

.main_heading button i {
    color: white;
}

.main_heading-searchBar {
    position: relative;
    width: 50%;
    height: 30px;
}

.main_heading-searchBar i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
    color: white;
}

.main_heading-searchBar input {
    outline: none;
    border: none;

    padding-left: 48px;
    width: 100%;
    height: 100%;
    border-radius: 15px;

    background-color: var(--color-background-element-clicked);
    color: white;
}

.main_heading-searchBar input::placeholder{
    color: rgb(176, 176, 176);
}

.searching_main_body{
    width: 100%;
    height: fit-content;
    margin-top: 18px;

    padding: 12px;
}

.searching_main_body-history{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 14%;
}

.searching_main_body-history-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding-right: 6px;
}

.searching_main_body-history-heading p{
    color: white ;
    font-size: calc(8px * var(--scale));
}

.searching_main_body-history-heading i{
    cursor: pointer;
    color: rgb(131, 131, 131);
}

.searching_main_body-history-heading i:hover{
    color: white;
}

.searching_main_body-history-content{
    width: 100%;
    height: fit-content;

    margin-top: 18px;

    display: flex;
    justify-content: left;
    align-items: center;
}

.searching_main_body-history-content-1{
    display: flex;
    justify-content: center;
    align-items: center;

    width: fit-content;
    height: fit-content;

    border-radius: 20px;
    background-color: var(--color-background-element-clicked);
    cursor: pointer;
    padding: 5px 10px 5px 10px;

    margin-right: 28px;
}

.searching_main_body-history-content-1 p{
    color: white;
}

.searching_main_body-history-content-1:hover{
    background-color: rgb(105, 105, 105);
}

.right_box {
    height: 100vh;
    width: 20vw;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 8px;
}

.right_box_body {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--color-background-element);
    border-radius: 15px;

    padding: 12px;
    display: block;
    overflow: hidden;
}

.right_box_p1{
    transition: 0.5s ease-in-out;
}

.right_box_p1-heading{
    height: 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 8px;

    font-size: 22px;
}

.right_box_p1-heading p{
    width: 70%;

    display: flex;
    align-items: center;
    justify-content: left;
}

.right_box_p1-heading i{
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.right_box_p1-heading i:nth-child(2){
    width: 35px;
    height: auto;
    aspect-ratio: 1/1;

    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0);
    transition: 0.3s ease-in-out;
}

.right_box_p1-heading i:nth-child(2):hover{
    background-color: rgba(255, 255, 255, 0.27);
}

.right_box_p1-main {
    position: relative;
    height: 350px;
    margin: 4px;
    border-radius: 15px;
    background-color: #0160c5;
    display: flex;
    align-items: center;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}

.right_box_p1-main:hover{
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.349);
    background: var(--color-primary-1);
}

.right_box_p1:hover .right_box_p1-main{
    color: var(--color-primary-2);
}

/* .right_box_p1::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../Image/Giấc_Mơ_Của_Em_Suy_Ver.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(10px) brightness(50%);
    z-index: 1;
} */

.right_box_p1-record {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-10%, -50%);
    width: 300px;
    height: auto;
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;

    animation: rotate 10s linear infinite;
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.304);
}

@keyframes rotate {
    from {
        transform: translate(-10%, -50%) rotate(360deg);
    }

    to {
        transform: translate(-10%, -50%) rotate(0deg);
    }
}

.right_box_p1-record img:nth-child(1) {
    position: absolute;
    z-index: -1;
    height: 110%;
    width: 110%;
}

.right_box_p1-record img:nth-child(2) {
    position: absolute;
    z-index: 1;

    height: 60%;
    width: 60%;
    border-radius: 50%;
    object-fit: cover;
}

.right_box_p1-icon-wrapper{
    position: relative;

    width: 50px;
    height: fit-content;
    z-index: 2;
    left: 15px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.right_box_p1-icon-wrapper i{
    height: 40px;
    width: auto;
    aspect-ratio: 1/1;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.right_box_p1-icon-wrapper i:hover{
    cursor: pointer;
    transform: scale(1.1);
}

#Add_Playlist{
    transform: scale(1.5);
}

#Add_Playlist,#Expain{
    color: #ffffff8d;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.right_box_p1-main:hover #Add_Playlist,
.right_box_p1-main:hover #Expain{
    opacity: 1;
}

#Add_Playlist:hover
,#Expain:hover{
    color: white;
}

.right_box_p1-controls{
    position: relative;
    width: 50px;
    height: 200px;
    z-index: 2;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;

    margin: 30px 0;
}

@media (max-width: 1000px) {
    .left_box {
        width: 15%;
    }

    .account_box{
        display: flex;
        justify-content: center;
        align-items: center;    
        padding: 0;
    }

    .account_box div:nth-child(2),
    .library_box-header,
    #card-infor{
        display: none;
    }

    .library_list{
        height: max-content;
    }

    .mid_box {
        width: 80%;
    }

    .right_box {
        display: none;
    }
}